/*
Template for gulp.spritesmith + Postcss
*/
$calabaza-name: 'calabaza';
$calabaza-x: 0px;
$calabaza-y: 0px;
$calabaza-offset-x: 0px;
$calabaza-offset-y: 0px;
$calabaza-width: 128px;
$calabaza-height: 128px;
$calabaza-total-width: 256px;
$calabaza-total-height: 256px;
$calabaza-image: 'main_sprite.png';
$calabaza: 0px 0px 0px 0px 128px 128px 256px 256px '/images/main_sprite.png' 'calabaza';
$murcielago-name: 'murcielago';
$murcielago-x: 128px;
$murcielago-y: 0px;
$murcielago-offset-x: -128px;
$murcielago-offset-y: 0px;
$murcielago-width: 128px;
$murcielago-height: 128px;
$murcielago-total-width: 256px;
$murcielago-total-height: 256px;
$murcielago-image: 'main_sprite.png';
$murcielago: 128px 0px -128px 0px 128px 128px 256px 256px '/images/main_sprite.png' 'murcielago';
$sombrero-name: 'sombrero';
$sombrero-x: 0px;
$sombrero-y: 128px;
$sombrero-offset-x: 0px;
$sombrero-offset-y: -128px;
$sombrero-width: 128px;
$sombrero-height: 128px;
$sombrero-total-width: 256px;
$sombrero-total-height: 256px;
$sombrero-image: 'main_sprite.png';
$sombrero: 0px 128px 0px -128px 128px 128px 256px 256px '/images/main_sprite.png' 'sombrero';
$spritesheet-width: 256px;
$spritesheet-height: 256px;
$spritesheet-image: 'main_sprite.png';
$spritesheet-sprites: ($calabaza, $murcielago, $sombrero, );
$spritesheet: (256px, 256px, 'main_sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: list($sprite, 4);
}

@mixin sprite-height($sprite) {
  height: list($sprite, 5);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: list($sprite, 2);
  $sprite-offset-y: list($sprite, 3);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: list($sprite, 8);
  background-image: url($sprite-image);
}

@mixin sprite($sprite) {
/*
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
*/
  $sprite-image: list($sprite, 8);
  background-image: urlConcat($sprite-image);

  $sprite-offset-x: list($sprite, 2);
  $sprite-offset-y: list($sprite, 3);
  background-position: $sprite-offset-x  $sprite-offset-y; 

  width: list($sprite, 4);

  height: list($sprite, 5);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: list($sprite, 9);
    .($sprite-name) {
      @include sprite($sprite);
    }
  }
}

